[defaults]
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = ansible/roles

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

