<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ proxy_fallback_title }}</title>
</head>
<body>
  <h1>{{ proxy_fallback_title }}</h1>
</body>
</html>
